EWdispatchAllocationList/Service References/ServiceReference/EWDispatchService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56576/Service/EWDispatchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cats.Models" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Cats.Service.IEWDispatchService.GetAllocationModelDetail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Cats.Service.IEWDispatchService.GetAllocationModelDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cats.Models" minOccurs="0" name="Cats.Service.IEWDispatchService.GetAllocationModelDetailResult" nillable="true" type="q1:ArrayOfAllocationModelDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>