EWdispatchAllocationList/Service References/EwServiceReference/EWDispatchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:56576/Service/EWDispatchService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:56576/Service/EWDispatchService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56576/Service/EWDispatchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cats.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EWDispatchService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="EWDispatchService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="EWDispatchService_Cats.Service.IEWDispatchService.GetAllocationModelDetail_InputMessage">
    <wsdl:part name="parameters" element="Cats.Service.IEWDispatchService.GetAllocationModelDetail" />
  </wsdl:message>
  <wsdl:message name="EWDispatchService_Cats.Service.IEWDispatchService.GetAllocationModelDetail_OutputMessage">
    <wsdl:part name="parameters" element="Cats.Service.IEWDispatchService.GetAllocationModelDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="EWDispatchService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:EWDispatchService/DoWork" message="EWDispatchService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:EWDispatchService/DoWorkResponse" message="EWDispatchService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cats.Service.IEWDispatchService.GetAllocationModelDetail">
      <wsdl:input wsaw:Action="urn:EWDispatchService/Cats.Service.IEWDispatchService.GetAllocationModelDetail" message="EWDispatchService_Cats.Service.IEWDispatchService.GetAllocationModelDetail_InputMessage" />
      <wsdl:output wsaw:Action="urn:EWDispatchService/Cats.Service.IEWDispatchService.GetAllocationModelDetailResponse" message="EWDispatchService_Cats.Service.IEWDispatchService.GetAllocationModelDetail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>