EWdispatchAllocationList/Service References/EwServiceReference/EWDispatchService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cats.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cats.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAllocationModelDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AllocationModelDetail" nillable="true" type="tns:AllocationModelDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAllocationModelDetail" nillable="true" type="tns:ArrayOfAllocationModelDetail" />
  <xs:complexType name="AllocationModelDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beneficiaries" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FDPID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FDPName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Woreda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllocationModelDetail" nillable="true" type="tns:AllocationModelDetail" />
</xs:schema>