Cats.TemplateEditor/Service References/TemplateService/TemplateManager3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cats.TemplateServer.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cats.TemplateServer.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTemplateType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateType" nillable="true" type="tns:TemplateType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateType" nillable="true" type="tns:ArrayOfTemplateType" />
  <xs:complexType name="TemplateType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateObject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemplateType" nillable="true" type="tns:TemplateType" />
  <xs:complexType name="ArrayOfTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Template" nillable="true" type="tns:Template" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplate" nillable="true" type="tns:ArrayOfTemplate" />
  <xs:complexType name="Template">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateId" type="xs:int" />
      <xs:element minOccurs="0" name="TemplateType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Template" nillable="true" type="tns:Template" />
  <xs:complexType name="ArrayOfTemplateFields">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateFields" nillable="true" type="tns:TemplateFields" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateFields" nillable="true" type="tns:ArrayOfTemplateFields" />
  <xs:complexType name="TemplateFields">
    <xs:sequence>
      <xs:element minOccurs="0" name="Field" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateFieldId" type="xs:int" />
      <xs:element minOccurs="0" name="TemplateId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemplateFields" nillable="true" type="tns:TemplateFields" />
  <xs:complexType name="ArrayOfStorageFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StorageFileInfo" nillable="true" type="tns:StorageFileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStorageFileInfo" nillable="true" type="tns:ArrayOfStorageFileInfo" />
  <xs:complexType name="StorageFileInfo">
    <xs:sequence>
      <xs:element name="_x003C_Size_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_VirtualPath_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StorageFileInfo" nillable="true" type="tns:StorageFileInfo" />
</xs:schema>