Servers/Cats.TemplateEditor/Service References/TemplateService/TemplateManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TemplateManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1479/TemplateManager.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1479/TemplateManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1479/TemplateManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cats.TemplateServer.Dto" />
      <xsd:import schemaLocation="http://localhost:1479/TemplateManager.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITemplateManager_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_TemplateTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:TemplateTypes" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_TemplateTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:TemplateTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_GetTemplateTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateTypes" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_GetTemplateTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_GetAllTemplates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTemplates" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_GetAllTemplates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_GetTemplates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplates" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_GetTemplates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_GetTemplateById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateById" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_GetTemplateById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_GetTemplateByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateByName" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_GetTemplateByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_GetFieldsByTemplateId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFieldsByTemplateId" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_GetFieldsByTemplateId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFieldsByTemplateIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_GetFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_GetFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage">
    <wsdl:part name="parameters" element="tns:FileUploadMessage" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage_Headers">
    <wsdl:part name="VirtualPath" element="tns:VirtualPath" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_PutFile_OutputMessage" />
  <wsdl:message name="ITemplateManager_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_List_InputMessage">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_InsertToLetterTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertToLetterTemplate" />
  </wsdl:message>
  <wsdl:message name="ITemplateManager_InsertToLetterTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertToLetterTemplateResponse" />
  </wsdl:message>
  <wsdl:portType name="ITemplateManager">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateManager/DoWork" message="tns:ITemplateManager_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateManager/DoWorkResponse" message="tns:ITemplateManager_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TemplateTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateManager/TemplateTypes" message="tns:ITemplateManager_TemplateTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateManager/TemplateTypesResponse" message="tns:ITemplateManager_TemplateTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplateTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateManager/GetTemplateTypes" message="tns:ITemplateManager_GetTemplateTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateManager/GetTemplateTypesResponse" message="tns:ITemplateManager_GetTemplateTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTemplates">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateManager/GetAllTemplates" message="tns:ITemplateManager_GetAllTemplates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateManager/GetAllTemplatesResponse" message="tns:ITemplateManager_GetAllTemplates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplates">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateManager/GetTemplates" message="tns:ITemplateManager_GetTemplates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateManager/GetTemplatesResponse" message="tns:ITemplateManager_GetTemplates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplateById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateManager/GetTemplateById" message="tns:ITemplateManager_GetTemplateById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateManager/GetTemplateByIdResponse" message="tns:ITemplateManager_GetTemplateById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplateByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateManager/GetTemplateByName" message="tns:ITemplateManager_GetTemplateByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateManager/GetTemplateByNameResponse" message="tns:ITemplateManager_GetTemplateByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFieldsByTemplateId">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateManager/GetFieldsByTemplateId" message="tns:ITemplateManager_GetFieldsByTemplateId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateManager/GetFieldsByTemplateIdResponse" message="tns:ITemplateManager_GetFieldsByTemplateId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateManager/Authenticate" message="tns:ITemplateManager_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateManager/AuthenticateResponse" message="tns:ITemplateManager_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateManager/GetFile" message="tns:ITemplateManager_GetFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateManager/GetFileResponse" message="tns:ITemplateManager_GetFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateManager/PutFile" name="FileUploadMessage" message="tns:FileUploadMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateManager/PutFileResponse" message="tns:ITemplateManager_PutFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateManager/DeleteFile" message="tns:ITemplateManager_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateManager/DeleteFileResponse" message="tns:ITemplateManager_DeleteFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="List">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateManager/List" message="tns:ITemplateManager_List_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateManager/ListResponse" message="tns:ITemplateManager_List_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertToLetterTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateManager/InsertToLetterTemplate" message="tns:ITemplateManager_InsertToLetterTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateManager/InsertToLetterTemplateResponse" message="tns:ITemplateManager_InsertToLetterTemplate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITemplateManager" type="tns:ITemplateManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ITemplateManager/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TemplateTypes">
      <soap:operation soapAction="http://tempuri.org/ITemplateManager/TemplateTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplateTypes">
      <soap:operation soapAction="http://tempuri.org/ITemplateManager/GetTemplateTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTemplates">
      <soap:operation soapAction="http://tempuri.org/ITemplateManager/GetAllTemplates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplates">
      <soap:operation soapAction="http://tempuri.org/ITemplateManager/GetTemplates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplateById">
      <soap:operation soapAction="http://tempuri.org/ITemplateManager/GetTemplateById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplateByName">
      <soap:operation soapAction="http://tempuri.org/ITemplateManager/GetTemplateByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFieldsByTemplateId">
      <soap:operation soapAction="http://tempuri.org/ITemplateManager/GetFieldsByTemplateId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/ITemplateManager/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://tempuri.org/ITemplateManager/GetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutFile">
      <soap:operation soapAction="http://tempuri.org/ITemplateManager/PutFile" style="document" />
      <wsdl:input name="FileUploadMessage">
        <soap:header message="tns:FileUploadMessage_Headers" part="VirtualPath" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/ITemplateManager/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap:operation soapAction="http://tempuri.org/ITemplateManager/List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertToLetterTemplate">
      <soap:operation soapAction="http://tempuri.org/ITemplateManager/InsertToLetterTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TemplateManager">
    <wsdl:port name="BasicHttpBinding_ITemplateManager" binding="tns:BasicHttpBinding_ITemplateManager">
      <soap:address location="http://localhost:1479/TemplateManager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>